.b-nav{
    background: #222;
    color: #f8f8f8;
}

.navbar{
    border: none;
}

.navbar-brand{
    padding-top: 10px;
}

.navbar-inverse .navbar-nav > .active > a{
    background-image: none;
    background-color: #8892bf;
}

.navbar-inverse .navbar-nav > .active > a:hover{
    background-image: none;
    background-color: #8892bf;
}
